# ==========================================
# Compilados y Artefactos de Construcción (Maven / Quarkus)
# ==========================================
target/
**/target/
*.class

# Empaquetados binarios
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Metadatos internos de Quarkus
.quarkus/
**/.quarkus/

# ==========================================
# Secretos, Tokens y Variables de Entorno
# ==========================================
.env
.env.*
!.env.example
*.local

# Secretos y entornos privados de Bruno
bruno-collection/.env
bruno-collection/**/*.local.bru
bruno-collection/.env.local

# ==========================================
# Logs y Archivos Temporales de JVM
# ==========================================
*.log
account.log
payment.log
notification.log
orchestrator.log
hs_err_pid*
replay_pid*

# Herramientas legadas
*.ctxt
.mtj.tmp/

# ==========================================
# IDEs y Entornos (VS Code / Codespaces / IntelliJ)
# ==========================================
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

.idea/
*.iml
*.iws
out/
.mvn/wrapper/maven-wrapper.jar

# ==========================================
# Archivos de Sistema Operativo
# ==========================================
.DS_Store
Thumbs.db